.Trendings {
    display: flex;
    flex-wrap: wrap;
}

.Trendings-Container {
    padding-left: 1em;
}

.Trending-Title {
    min-height: 3rem;
    display: flex;
    align-items: center;
}

.Trending-Title h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: bold;
}

.Trendings > :nth-child(2n + 1) {
    color: var(--primary-color);
}