.Trendings {
    @apply flex flex-wrap justify-between;
}

.Trendings-Container {
    padding-left: 1em;
}

.Trending-Title {
    margin-bottom: 0.75em;
}

.Trending-Title h2 {
    @apply font-bold;
    color: rgba(255, 255, 255, 0.842);
    font-size: 20px;
}
