.Loader {
    border: 5px solid rgb(184, 184, 184);
    border-top: 5px solid #a3457f;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.Loader-Container {
    margin-left: 25%;
    margin-right: 25%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
