.Gif-Container {
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 0.25rem;
}

.Gif-Image img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* .Gif-Title {
    align-items: center;
    justify-content: center;
} */

h4 {
    color: rgba(245, 245, 245, 0.89);
    font-weight: 900;
    font-size: 14px;
}
