/* The gif container  */
.Gif-Container {
    background-color: rgba(12, 12, 12, 0.171);
    position: relative;
}

/* The image of the gif */ 
.Gif-Container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

/* Title of the gif  */
.Gif-Container h4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.89);
    font-weight: 800;
    font-size: 14px;
    position: absolute;
    padding: 0.3rem;
    bottom: 0;
    width: 100%;
}

.Gif-Link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
}