/* The gif container  */
.Gif {
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 10px 13px -7px #00000070,
        10px -1px 9px 8px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 10px 13px -7px #00000070,
        10px -1px 9px 8px rgba(0, 0, 0, 0.02);
}

.Gif-Link {
    width: 100%;
    color: #000;
    text-decoration: none;
    position: relative;
    display: block;
}

/* The image of the gif */
.Gif-Link img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
}

/* Title of the gif  */
.Gif-Link h4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.89);
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    padding: 0.25em;
    bottom: 0;
}
