/* Container for SearchResult Component */
.Search-Container {
    display: flex;
    width: 100%;
    padding: 1.75rem;
}

/* The container that wraps the search input  */
.Input-Container {
    background-color: rgba(20, 20, 20, 0.356);
    border-radius: 0.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.75rem;
    font-family: 'Fira Code', monospace;
    margin-right: 5%;
    margin-left: 5%;
}

/* The search input */
.Search-Input {
    background-color: rgba(17, 17, 17, 0.4);
    /* background-color: var(--background-color); */
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 80%;
    height: 35px;
    border-radius: 0.175rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 12px;
    font-weight: 800;
    color: #dadada;
}

.Search-Button {
    background-color: #a3457fc4;
    border-radius: 0.175rem;
    font-size: 14px;
    font-weight: 900;
    height: 36px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.Search-Button:hover {
    background-color: #97456f;
}

.Input-Container > form > i {
    font-size: 15px;
    color: rgb(224, 0, 0);
}

input[type='text']:focus {
    box-shadow: 0 0 2pt 0.5pt #353535;
    outline-width: 0px;
}

input[type='text']:hover {
    box-shadow: 0 0 2pt 0.5pt #3f3e3e;
    outline-width: 0px;
}

button[type='text']:hover {
    box-shadow: 0 0 5pt 0.5pt #61384d;
}

@media screen and (max-width: 768px) {
    .Search-Button {
        width: 80px;
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
    }

    .Search-Input {
        font-size: 10px;
    }

    .Search-Container {
        display: flex;
        width: 100%;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 1.2rem;
        padding-bottom: 0.75rem;
    }
}
