.Loader {
    border: 5px solid rgb(184, 184, 184); /* Light grey */
    border-top: 5px solid #a3457f; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Loader-Container {
    background-color: rgba(107, 107, 107, 0);
    grid-column: 2;
    display: flex;
}
