/* The gifs displayed */
.Gifs-Container {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: auto;
    gap: 0.5rem;
}

.Gifs-Container_Column {
    background-clip: padding-box;
}

.Gifs-Container_Column > .Gif {
    margin-bottom: 0.5em;
}
