.App-Content-Title h2 {
    font-family: 'Fira Code';
    font-weight: 600;
}

.Logo {
    height: 70px;
    margin-right: 2rem;
}

.App-Header {
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 80px;
    font-size: 40px;
    font-weight: 500;
    color: rgba(252, 252, 252, 0.788);
    text-shadow: 1px 1px 4px #27726e, -2px 2px 0px #a3457f;
    border-radius: 4px;
    border: 1px solid rgba(48, 48, 48, 0.425);
    background-color: rgba(0, 0, 0, 0.151);
    padding-left: 34px;
    padding-right: 34px;
    @apply flex flex-row shadow-sm;
}

.App-Header-Container {
    background-color: #202020;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    color: rgb(202, 202, 202);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 13px -7px #00000070,
        10px -1px 9px 8px rgba(0, 0, 0, 0.02);
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}
