@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Domine:wght@400;500;600;700&display=swap');

.App-Content-Title h2 {
    font-family: 'Fira Code';
    font-weight: 600;
}

.Logo {
    height: 70px;
    margin-right: 1rem;
}

.App-Header {
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    min-height: 80px;
    font-size: 65px;
    color: rgba(252, 252, 252, 0.952);
    text-shadow: 1px 4px 4px #27726e, -2px 2px 0px #a3457f;
    border-radius: 30%;
    @apply flex flex-row;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
}

.App-Header-Container {
    background-color: #202020;
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    color: rgb(224, 224, 224);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 13px -7px #00000070,
        10px -1px 9px 8px rgba(0, 0, 0, 0.02);
    margin-bottom: 1em;
}

.Sub-Title-Container {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .App-Header-Container {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 0.25rem;
        border-radius: 0;
    }

    .Logo {
        height: 70px;
    }

    .App-Header {
        flex-direction: column;
        font-size: 24px;
        margin-bottom: 0.25rem;
        margin-top: 1rem;
    }

    .Sub-Title-Container {
        margin-top: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 12px;
    }
}
