@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    background-color: #282c34;
}

.App-Header {
    margin-top: 2rem;
    padding-top: 0.75rem;
    min-height: 80px;
    font-size: 40px;
    text-shadow: 1px 1px 1px #36b4ae, -1px 2px 0px #a3457f;
    border-radius: 4px;
    border: 1px solid rgba(238, 238, 238, 0.425);
    background-color: rgba(0, 0, 0, 0.151);
    padding-left: 20px;
    padding-right: 20px;
}

.App-Header-Container {
    background-color: #202020;
    margin-right: 30%;
    margin-left: 30%;
    display: flex;
    color: rgb(202, 202, 202);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 13px -7px #00000070,
        10px -1px 9px 8px rgba(0, 0, 0, 0.02);
}

.Sub-Title-Container {
    margin-top: 1.75rem;
}

h4 {
    font-size: 20px;
}
/* Container for SearchResult Component */
.Search-Container {
    display: flex;
    width: 100%;
    padding: 1.75rem;
}

/* The container that wraps the search input  */
.Input-Container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.75rem;
}

/* The search input */
.Search-Input {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 80%;
    height: 35px;
    border-radius: 0.175rem;
    padding-right: 0.5rem;
    color: #3a3a3a;
    padding-left: 0.5rem;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.425);
    font-size: 14px;
}

.Search-Button {
    background-color: #61384d;
    height: 36px;
    border-radius: 0.175rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px transparent #61384d;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.137);
    box-sizing: border-box;
}

.Search-Button:hover {
    background-color: #74415b;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

.Input-Container > form > i {
    font-size: 15px;
    color: #777;
}

input[type='text']:focus {
    box-shadow: 0 0 5pt 2pt #61384d;
    outline-width: 0px;
}

input[type='text']:hover {
    box-shadow: 0 0 5pt 0.5pt #61384d;
}

button[type='text']:hover {
    box-shadow: 0 0 5pt 0.5pt #61384d;
}

.App-Content {
    margin-top: 2rem;
    background-color: #202020;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 0.5rem;
    height: 100%;
    display: grid; /* Se muestra como una grilla... */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;
    padding: 1.25rem;
    justify-items: center;
    align-content: center;
    box-shadow: 0px 10px 13px -7px #00000018,
        10px -1px 9px 8px rgba(0, 0, 0, 0.03);
}

.Neons h1 {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
