@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    background-color: #282c34;
}

.App-Content {
    margin-left: 25%;
    margin-right: 25%;
}

.App-Title {
    font-size: 14px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Fira Code';
}

.Sub-Title-Container {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}
